<div cdkDrag cdkDragBoundary="#canvas" (cdkDragEnded)="onDragEnded($event)"> 
    <div *ngIf="props.checked=='true'; else unchecked" class="form-check">
       
        <label class="form-check-label" [for]="props.id" [style]="props.style" [ngStyle]="{
            'float': 'left'
          }">
          <input [id]="props.id" [class]="props.class" [type]="props.type" (change)="isChecked($event)" checked>
            {{ props.value }}
        </label>
    </div>
    <ng-template #unchecked>
        <div *ngIf="props.checked=='false'; else anyData" class="form-check">
            
            <label class="form-check-label" [for]="props.id" [style]="props.style" [ngStyle]="{
                'float': 'left'
              }">
              <input [id]="props.id" [class]="props.class" [type]="props.type" (change)="isChecked($event)">
                {{ props.value }}
            </label>
        </div>
    </ng-template>
    <ng-template #anyData>
        <div class="form-check">
            
            <label class="form-check-label" [for]="props.id" [style]="props.style" [ngStyle]="{
                'float': 'left'
              }">
              <input [id]="props.id" [class]="props.class" [type]="props.type" (change)="isChecked($event)"> 
                {{ props.value }}
            </label>
        </div>
    </ng-template>
</div>