<div class="form-check" cdkDrag cdkDragBoundary="#canvas" (cdkDragEnded)="onDragEnded($event)">
    <div *ngIf="props.checked=='true'">
       
        <label class= "form-check-label" [style]="props.style" [for]="props.id" [ngStyle]="{
            'float': 'left'
          }">
          <input [class]="props.class" [type]="props.type" [name]="props.name" [id]="props.id" (click)="isChecked($event)"  checked >
          {{ props.value }}
        </label>
    </div>
    <div *ngIf="props.checked=='false'">
        
        <label class= "form-check-label" [style]="props.style" [for]="props.id" [ngStyle]="{
            'float': 'left'
          }">
            <input [class]="props.class" [type]="props.type" [name]="props.name" [id]="props.id" (click)="isChecked($event)">
            {{ props.value }}
        </label>
    </div>
</div>
