<div
    cdkDropListGroup
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    >
      <div class="component-list"
        *ngFor="let component of componentList; let i = index;"
        cdkDrag
        [ngSwitch]="this.componentList[i].props.typeObj"
        [ngStyle]="{
          'background-color' : this.componentList[i].props.selected == true ? 'white': (this.componentList[i].props.selected == false ? '  #16324f': null),
          'color' : this.componentList[i].props.selected == true ? '#16324f': (this.componentList[i].props.selected == false ? 'white': null)
        }"
      >
        <div class="component-items"
        *ngSwitchCase="'buttonDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>
            {{i+1}} {{selectedLanguage?.pallete.button}}
          </div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'checkboxDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.checkbox}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'datepickerDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.datepicker}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'dropdownDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.dropdown}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'headerDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.header}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'imgDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.image}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'divDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.emptyDiv}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'inputDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.inputField}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'labelDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.label}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'linkDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.link}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'modalDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} Modal</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'navDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.navBar1}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'paragraphDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.paragraph}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'radioDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.radio}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'tableDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.table}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'textboxDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.textbox}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'youtubeDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.iFrame}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
        <div class="component-items"
        *ngSwitchCase="'videoDrag'"
        (click)="clickHandler(this.componentList[i])"
        >
          <div>{{i+1}} {{selectedLanguage?.pallete.video}}</div>
          <div class="component-buttons">
            <button [disabled]="isPlaying" class="component-button-remove"
            mat-button (click)="confirmDelete(this.componentList[i])"
            ><i class="fa-solid fa-trash-can fa-2xs"></i></button>
            <button [disabled]="isPlaying" class="component-button-hide"
            (click)="hideComponent(this.componentList[i])"
            ><i *ngIf="this.componentList[i].props.hidden" class="fa-solid fa-eye-slash fa-2xs"></i>
            <i *ngIf="!this.componentList[i].props.hidden" class='fas fa-eye fa-2xs'></i></button>
          </div>
        </div>
      </div>
    </div>