.component-list{
    height: 36px;
    width: 100%;
    color: white;
    background-color: #16324f;
    outline: none;
    border: white solid .5px;
    text-align: left;
  }
  
  .component-items{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 3px;
    margin-left: 3px;
    padding-right: 5px;
  }
  
  .component-button-hide{
    display: block;
    float: right;
    min-height: 20px;
    min-width: 20px;
    background-color: #67717a;
    border: #16324f solid 2px;
    color: white;
  }

  .component-button-hide:hover {
    background-color: #4a5257;
  }
  
  .component-button-remove{
    display: block;
    float: right;
    min-height: 20px;
    min-width: 20px;
    background-color: rgb(214, 87, 87);
    border: #16324f solid 2px;
    color: white;
  }

  .component-button-remove:hover {
    background-color:rgb(133, 55, 55);
  }
