<input [(ngModel)]="textInput" cdkDrag cdkDragBoundary="#canvas" 
[cdkDragDisabled]="!props.draggable"
[value]="props.value" [placeholder]="props.placeholder" [class]="props.class" 
[type]="props.type" [id]="props.id" [style]="props.style" (cdkDragEnded)="onDragEnded($event)" 
[ngStyle]="{
  position: 'sticky',
  left: mousePositionLeft + 'px',
  top: mousePositionTop + 'px',
  'border-color' : props.selected == true ? 'red': (props.selected == false ? 'none': null),
  'border-style' : props.selected == true ? 'solid': (props.selected == false ? 'none': null),
  'border-width' : props.selected == true ? '1px': (props.selected == false ? '0px': null)
}" >
