<div
  class="wrapper"
  [ngSwitch]="child.props.typeObj"
  [ngStyle]="{
    position:
      child.props.typeObj === 'headerDrag'
        ? 'absolute'
        : child.props.typeObj === 'buttonDrag'
        ? 'absolute'
        : child.props.typeObj === 'inputDrag'
        ? 'absolute'
        : child.props.typeObj === 'textboxDrag'
        ? 'absolute'
        : child.props.typeObj === 'datepickerDrag'
        ? 'absolute'
        : child.props.typeObj === 'modalDrag'
        ? 'absolute'
        : child.props.typeObj === 'imgDrag'
        ? 'absolute'
        : child.props.typeObj === 'linkDrag'
        ? 'absolute'
        : child.props.typeObj === 'paragraphDrag'
        ? 'absolute'
        : child.props.typeObj === 'labelDrag'
        ? 'absolute'
        : child.props.typeObj === 'dropdownDrag'
        ? 'absolute'
        : child.props.typeObj === 'checkboxDrag'
        ? 'absolute'
        : child.props.typeObj === 'radioDrag'
        ? 'absolute'
        : child.props.typeObj === 'tableDrag'
        ? 'absolute'
        : child.props.typeObj === 'youtubeDrag'
        ? 'absolute'
        : child.props.typeObj === 'navDrag'
        ? 'absolute'
        : 'absolute',
    top:
      child.props.typeObj === 'headerDrag'
        ? ymouse + 'px'
        : child.props.typeObj === 'buttonDrag'
        ? ymouse + 'px'
        : child.props.typeObj === 'inputDrag'
        ? ymouse + 'px'
        : child.props.typeObj === 'textboxDrag'
        ? ymouse + 'px'
        : child.props.typeObj === 'datepickerDrag'
        ? ymouse + 'px'
        : child.props.typeObj === 'modalDrag'
        ? ymouse + 'px'
        : child.props.typeObj === 'linkDrag'
        ? ymouse + 'px'
        : child.props.typeObj === 'imgDrag'
        ? ymouse + 'px'
        : child.props.typeObj === 'paragraphDrag'
        ? ymouse + 'px'
        : child.props.typeObj === 'labelDrag'
        ? ymouse + 'px'
        : child.props.typeObj === 'dropdownDrag'
        ? ymouse + 'px'
        : child.props.typeObj === 'checkboxDrag'
        ? ymouse + 'px'
        : child.props.typeObj === 'radioDrag'
        ? ymouse + 'px'
        : child.props.typeObj === 'tableDrag'
        ? ymouse + 'px'
        : child.props.typeObj === 'youtubeDrag'
        ? ymouse + 'px'
        : child.props.typeObj === 'navDrag'
        ? ymouse + 'px'
        : ycanvas + 'px',
    left:
      child.props.typeObj === 'buttonDrag'
        ? xmouse + 'px'
        : child.props.typeObj === 'headerDrag'
        ? xmouse + 'px'
        : child.props.typeObj === 'textboxDrag'
        ? xmouse + 'px'
        : child.props.typeObj === 'datepickerDrag'
        ? xmouse + 'px'
        : child.props.typeObj === 'modalDrag'
        ? xmouse + 'px'
        : child.props.typeObj === 'linkDrag'
        ? xmouse + 'px'
        : child.props.typeObj === 'imgDrag'
        ? xmouse + 'px'
        : child.props.typeObj === 'paragraphDrag'
        ? xmouse + 'px'
        : child.props.typeObj === 'labelDrag'
        ? xmouse + 'px'
        : child.props.typeObj === 'dropdownDrag'
        ? xmouse + 'px'
        : child.props.typeObj === 'checkboxDrag'
        ? xmouse + 'px'
        : child.props.typeObj === 'radioDrag'
        ? xmouse + 'px'
        : child.props.typeObj === 'tableDrag'
        ? xmouse + 'px'
        : child.props.typeObj === 'youtubeDrag'
        ? xmouse + 'px'
        : child.props.typeObj === 'inputDrag'
        ? xmouse + 'px'
        : xcanvas + 'px',
    height: '1px',
    width: child.props.typeObj === 'navDrag' ? canvasWW + 'px' : 'fit-content'
  }"
>
  <app-buttonDrag
    #rawr
    [property]="child.props"
    *ngSwitchCase="'buttonDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas"
    [ycanvas]="ycanvas"
    [xmouse]="xmouse"
    [ymouse]="ymouse"
    [whatComponent2]="whatComponent2"
    [ngStyle]="{
      'height': '1px',
      'position': 'fixed',
      'top':ymouse,
      'left':xmouse
    }"
    
  >
  </app-buttonDrag>

  <app-popupDrag
    [property]="child.props"
    *ngSwitchCase="'popupDrag'"
    [ngStyle]="{
      position: 'absolute',
      left: xmouse + 'px',
      top: ymouse + 'px'
    }"
  ></app-popupDrag>

  <app-datepickerDrag
    [property]="child.props"
    *ngSwitchCase="'datepickerDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas"
    [ycanvas]="ycanvas"
    [xmouse]="xmouse"
    [ymouse]="ymouse"
    [ngStyle]="{
      'height': '1px',
      'position': 'fixed',
      'top':ymouse,
      'left':xmouse
    }"
  ></app-datepickerDrag>

  <app-imageDrag
    [property]="child.props"
    *ngSwitchCase="'imgDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas"
    [ycanvas]="ycanvas"
    [xmouse]="xmouse"
    [ymouse]="ymouse"
    [whatComponent2]="whatComponent2"
    [ngStyle]="{
      'height': '1px',
      'position': 'fixed',
      'top':ymouse,
      'left':xmouse
    }"
  ></app-imageDrag>

  <app-labelDrag
    [property]="child.props"
    *ngSwitchCase="'labelDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas"
    [ycanvas]="ycanvas"
    [xmouse]="xmouse"
    [ymouse]="ymouse"
    [whatComponent2]="whatComponent2"
    [ngStyle]="{
      'height': '1px',
      'position': 'fixed',
      'top':ymouse,
      'left':xmouse
    }"
  ></app-labelDrag>

  <app-textboxDrag
    [property]="child.props"
    *ngSwitchCase="'textboxDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas"
    [ycanvas]="ycanvas"
    [xmouse]="xmouse"
    [ymouse]="ymouse"
    [ngStyle]="{
      'height': '1px',
      'position': 'fixed',
      'top':ymouse,
      'left':xmouse
    }"
  ></app-textboxDrag>

  <app-radioDrag
    [property]="child.props"
    [componentList]="compList"
    *ngSwitchCase="'radioDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas"
    [ycanvas]="ycanvas"
    [xmouse]="xmouse"
    [ymouse]="ymouse"
    [ngStyle]="{
      'height': '1px',
      'position': 'fixed',
      'top':ymouse,
      'left':xmouse
    }"
  ></app-radioDrag>

  <app-modalDrag
    [property]="child.props"
    *ngSwitchCase="'modalDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas"
    [ycanvas]="ycanvas"
    [xmouse]="xmouse"
    [ymouse]="ymouse"
    [ngStyle]="{
      'height': '1px',
      'position': 'fixed',
      'top':ymouse,
      'left':xmouse
    }"
  ></app-modalDrag>

  <app-checkboxDrag
    [property]="child.props"
    *ngSwitchCase="'checkboxDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas"
    [ycanvas]="ycanvas"
    [xmouse]="xmouse"
    [ymouse]="ymouse"
    [whatComponent2]="whatComponent2"
    [ngStyle]="{
      'height': '1px',
      'position': 'fixed',
      'top':ymouse,
      'left':xmouse
    }"
  ></app-checkboxDrag>

  <app-dropdownDrag
    [property]="child.props"
    *ngSwitchCase="'dropdownDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas"
    [ycanvas]="ycanvas"
    [xmouse]="xmouse"
    [ymouse]="ymouse"
    [whatComponent2]="whatComponent2"
    [ngStyle]="{
      'height': '1px',
      'position': 'fixed',
      'top':ymouse,
      'left':xmouse
    }"
  >
  </app-dropdownDrag>

  <app-navbarDrag
    [property]="child.props"
    *ngSwitchCase="'navDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas"
    [ycanvas]="ycanvas"
    [xmouse]="xmouse"
    [ymouse]="ymouse"
    [canvasWW]="canvasWW"
    [ngStyle]="{ width: canvasWidth }"
    [whatComponent2]="whatComponent2"
    [ngStyle]="{
      'height': '1px',
      'width':'1px',
      'position': 'absolute',
      'top':'0px',
      'left':'0px'
    }"
  ></app-navbarDrag>

  <app-inputDrag
    [property]="child.props"
    *ngSwitchCase="'inputDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas"
    [ycanvas]="ycanvas"
    [xmouse]="xmouse"
    [ymouse]="ymouse"
    [whatComponent2]="whatComponent2"
    [ngStyle]="{
      'height': '1px',
      'position': 'fixed',
      'top':ymouse,
      'left':xmouse
    }"
  >
  </app-inputDrag>

  <app-headerDrag
    [property]="child.props"
    *ngSwitchCase="'headerDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas"
    [ycanvas]="ycanvas"
    [xmouse]="xmouse"
    [ymouse]="ymouse"
    [whatComponent2]="whatComponent2"
    [ngStyle]="{
      'height': '1px',
      'position': 'fixed',
      'top':ymouse,
      'left':xmouse
    }"
  >
  </app-headerDrag>

  <app-linkDrag
    [property]="child.props"
    *ngSwitchCase="'linkDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas"
    [ycanvas]="ycanvas"
    [xmouse]="xmouse"
    [ymouse]="ymouse"
    [whatComponent2]="whatComponent2"
    [ngStyle]="{
      'height': '1px',
      'position': 'fixed',
      'top':ymouse,
      'left':xmouse
    }"
  >
  </app-linkDrag>

  <app-paragraphDrag
    [property]="child.props"
    *ngSwitchCase="'paragraphDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas"
    [ycanvas]="ycanvas"
    [xmouse]="xmouse"
    [ymouse]="ymouse"
    [whatComponent2]="whatComponent2"
    [ngStyle]="{
      'height': '1px',
      'position': 'fixed',
      'top':ymouse,
      'left':xmouse
    }"
  ></app-paragraphDrag>

  <app-tableDrag
    [property]="child.props"
    *ngSwitchCase="'tableDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas"
    [ycanvas]="ycanvas"
    [xmouse]="xmouse"
    [ymouse]="ymouse"
    [ngStyle]="{
      'height': '1px',
      'position': 'fixed',
      'top':ymouse,
      'left':xmouse
    }"
  ></app-tableDrag>

  <app-youtubeDrag
    [property]="child.props"
    *ngSwitchCase="'youtubeDrag'"
    (updateDataEvent)="passData($event)"
    (updateDataEventY)="passDataY($event)"
    [xcanvas]="xcanvas" 
    [ycanvas]="ycanvas"
    [xmouse]="xmouse" 
    [ymouse]="ymouse"
    [ngStyle]="{
      'height': '1px',
      'position': 'fixed',
      'top':ymouse,
      'left':xmouse
    }"
  ></app-youtubeDrag>

</div>
