<div class="content" role="main">
    <!-- PALETTE SECTION -->
      <app-pallete
      [canvas] = "passCanvas"
      [propertyCmp] = "propertyCmp"
      [componentList] = "componentList"
      [componentListMap] = "componentListMap"
      [domInsideCanvas] = "domInsideCanvas"
      [style] = "style"
      [tabList] = "tabList"
      [currentTab] = "currentTab"
      (updateComponentListEvent)="updateComponentList($event)"
      (updateCanvasLeftEvent)="updateCanvasLeft($event)"
      (updateCanvasTopEvent)="updateCanvasTop($event)"
      (updateCanvasWEvent)="updateCanvasW($event)"
      (updateMousePosX)="updateMousePositionX($event)"
      (updateMousePosY)="updateMousePositionY($event)"
      (updateWhatComponentEvent)="updateWhatComponent($event)"
      (updateProjectNameEvent)="updateProjectName($event)"
      (updateSelectedEvent)="updateSelected($event)"
      [isPlaying]="isPlaying"
      (updateProjectIdEvent)="updateProjectId($event)"
      [selectedLanguage]="selectedLanguage"
      ></app-pallete>
    
    
    <!-- CANVAS SECTION -->
  
    <app-canvas 
      [componentList]="componentList"
      [mousePositionX]="mousePositionX"
      [mousePositionY]="mousePositionY"
      [canvasLeft]="canvasLeft"
      [canvasTop]="canvasTop"
      [canvasW]="canvasW"
      [whatComponent]="whatComponent"
      [componentListMap]="componentListMap"
      (updateSelectedEvent)="updateSelected($event)"
      (updateSelectedComponentEvent)="updateSelectedComponent($event)"
      (updateDomInsideCanvasEvent)="updateDomInsideCanvas($event)"
      (updateSelectedTabEvent)="updateSelectedTab($event)"
      (updateComponentListMapEvent)="updateComponentListMap($event)"
      (updateSelectedCanvasEvent)="updateSelectedCanvas($event)"
      (updateTabListEvent)="updateTabList($event)"
      (updateIsPlaying)="updateIsPlayingEvent($event)"
      (updateCanvasListElements)="updateCanvasArray($event)"
      (updateSelectedLanguageEvent)="updateSelectedLanguage($event)"
      ></app-canvas>
    <!-- CODE SECTION -->
    <app-code
    [canvas] = "passCanvas"
    [selected] = "selected"
    [selectedComponent] = "selectedComponent"
    [componentList] = "componentList"
    [projectName] = "projectName"
    [tabList] = "tabList"
    [currentTab] = "currentTab"
    (updatePropertyComponentEvent) = "updatePropertyComponent($event)"
    (clearComponentListEvent) = "clearComponentList()"
    (updateComponentListEvent) = "updateComponentListDel($event)"
    (updateStyleEvent) = "updateStyleEvent($event)"
    [isPlaying]="isPlaying"
    [selectedLanguage]="selectedLanguage"
    >
    </app-code>
  </div>
