<div
  class="dropdown"
  cdkDrag
  cdkDragBoundary="#canvas"
  (cdkDragEnded)="onDragEnded($event)"
  [cdkDragDisabled]="!props.draggable"
  [ngStyle]="{
    position: 'sticky',
    left: mousePositionLeft + 'px',
    top: mousePositionTop + 'px',
    width: 'auto',
    'border-color':
      props.selected == true ? 'red' : props.selected == false ? 'none' : null,
    'border-style':
      props.selected == true
        ? 'solid'
        : props.selected == false
        ? 'none'
        : null,
    'border-width':
      props.selected == true ? '1px' : props.selected == false ? '0px' : null
  }"
>
  <select [class]="props.class" [id]="props.id" [style]="props.style" (click)="editNumLinks()" [(ngModel)]="selectedOption">
    <option *ngFor="let option of props.linksArray; let i = index;" value="{{option}}">{{option}}</option>
  </select>
</div>
