<div class="dropdown" cdkDrag cdkDragBoundary="#canvas" (cdkDragEnded)="onDragEnded($event)" 
[cdkDragDisabled]="!props.draggable"
[ngStyle]="{
  'position': 'sticky',
  'left': (dagaX-theX) + 'px',
  'top': (dagaY-theY) + 'px',
  'width': '100px'
}" >
  <button [class]="props.class" type="button" [id]="props.id" [style]="props.style" (click)="editNumLinks(this.props.links)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ props.value }}
  </button>
  <div class="dropdown-menu" aria-labelledby="props.id">
    <a class="dropdown-item" *ngFor="let link of props.linksArray; let i = index;" (click)="editLinkValue(i, link, props.linkValue)">{{link}}</a>
  </div>
</div> 