<div class="btn-group" [id]="props.id" cdkDrag cdkDragBoundary="#canvas" (cdkDragEnded)="onDragEnded($event)" 
[ngStyle]="{
    'position': 'fixed',
    'left': dagaX + 'px',
    'top': dagaY + 'px',
    'width': '100px'
  }">
  <button [class]="props.class" [type]="props.type" [style]="props.style">{{ props.value }}</button>
  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" [ngStyle]="{
    'float': 'right'
  }">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">{{ props.link1 }}</a></li>
    <li><a class="dropdown-item" href="#">{{ props.link2 }}</a></li>
    <li><a class="dropdown-item" href="#">{{ props.link3 }}</a></li>
  </ul>
</div> 