<div
      >
        <div
          class="tab-pane fade show active"
          id="elements"
          role="tabpanel"
          aria-labelledby="elements-tab"
        >
          <button class="palette-item" (click)="addComponentHomePage()">
            Home Page
          </button>
          <button class="palette-item" (click)="addComponentLogin()">
            Login Page
          </button>

          <!-- <button class="palette-item" (click)="addComponentImageLabel()">
            Image Label
          </button> -->

          <button class="palette-item" (click)="addComponentSearchScreen()">
            Search Screen Page
          </button>
        </div>
      </div>
