<div
      >
        <div
          class="tab-pane fade show active"
          id="elements"
          role="tabpanel"
          aria-labelledby="elements-tab"
        >
          <button [disabled]="isPlaying" class="palette-item" (click)="addComponentHomePage()">
            {{selectedLanguage?.pallete.home}}
          </button>
          <button [disabled]="isPlaying" class="palette-item" (click)="addComponentLogin()">
            {{selectedLanguage?.pallete.logIn}}
          </button>

          <!-- <button class="palette-item" (click)="addComponentImageLabel()">
            Image Label
          </button> -->

          <button [disabled]="isPlaying" class="palette-item" (click)="addComponentSearchScreen()">
            {{selectedLanguage?.pallete.search}}
          </button>
        </div>
      </div>
