<div class="center">
    <div>
        <p>
            Register Page
        </p>
        <br>
        <input id="username" placeholder="Username" type="text" #username>
        <br>
        <input id="password" placeholder="Password" type="string" #password>
        <br>
        <input id="password" placeholder="Confirm password" type="string" #cpassword>
        <br>
        <input id="password" placeholder="Email" type="string" #email>
        <br>
        <input id="password" placeholder="First Name" type="string" #firstName>
        <br>
        <input id="password" placeholder="Last Name" type="string" #lastName>
        <br>
        <br>
        <button (click)="register(username.value, password.value, cpassword.value, email.value, firstName.value, lastName.value)">Register     </button>
        <button (click)="login()">Back to Log-in</button>
    </div>
</div>