<nav id="navbar">
    
</nav>

<div class="center">
    <div>
        <p>
            Registration Page
        </p>
        <br>
        
        <label>User Name:</label> <br>
            <input id="username" placeholder="Username" type="text" #username>
        <br>
        <label for="password">Password: </label><br>
            <input type="password" placeholder="Password" id="password" name="password" #password>
        <br>
        <label for="password">Confirm Password: </label><br>
            <input type="password" placeholder="Confirm Password" id="password" name="password" #cpassword>
        <br>
        <label>E-mail Address:</label> <br>
            <input id="password" placeholder="Email" type="string" #email>
        <br>
        <label>First Name:</label> <br>
            <input id="password" placeholder="First Name" type="string" #firstName>
        <br>
        <label>Last Name:</label> <br>
            <input id="password" placeholder="Last Name" type="string" #lastName>
        <br>
        <br>
    
        <button (click)="register(username.value, password.value, cpassword.value, email.value, firstName.value, lastName.value)">Register</button>
        <button (click)="login()" [routerLink]="['/login']">Back to Log-in</button>
    </div>
</div>