<div
      >
        <div
          class="palette-container"
        >
          <button
            class="palette-item"
            (click)="onSave()"
          >
          <i class="fa-solid fa-cloud-arrow-up"></i>&nbsp; Save
          </button>
          <button
            class="palette-item"
          >
          <i class="fa-solid fa-square-pen"></i>&nbsp; Save as
          </button>
          <button
            class="palette-item"
            data-toggle="modal" data-target="#exampleModalCenter"
          >
          <i class="fa-solid fa-cloud-arrow-down"></i>&nbsp; Load
          </button>
        </div>
      </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Your Projects</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a href="" class="projectsList">Facebook</a>
        <a href="" class="projectsList">Log In</a>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>