.palette-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
  min-width: 150px;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background-color: #16324f;
}

.palette-item {
  height: fit-content;
  width: 100%;
  padding: 10px 10px;
  color: white;
  background-color: #16324f;
  outline: none;
  border: none;
  border: #16324f solid 1px;
}

.palette-item:hover {
  color: #16324f;
  background-color: white;
  border: #16324f solid 1px;
}

.required-field::after {
  content: "*";
  color: red;
}
.modal-header{
  padding: 0px !important;
  margin: 0px 25px !important;
}
#exampleModalLongTitle{
  color:black;
  padding-top: 30px;
  font-weight: bold;
  margin-left: 5px;
}
.projectsList{
  text-decoration: none;
  color: black;
  width: 83%;
  padding: 10px;
  background-color: transparent;
  border: none;
}

.projectContainer{
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.projectContainer:hover{
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
}
.projectContainer button{
  border: none;
  border-radius: 3px;
  margin: 0px 10px 0px 0px;
}
.buttonsContainer{
  display: flex;
  justify-content: space-evenly;
}
.projectContainer button i {
  padding: 3px 0px;
  color: white;
}
.edit{
  background-color: #16324f;
}
.delete{
  background-color: red;
}
.edit:hover{
  filter: brightness(0.7)
}
.delete:hover{
  filter: brightness(0.7)
}
::ng-deep .mat-dialog-container{
  z-index: 10000000 !important;
}
