<div
      >
        <div
          class="palette-container"
        >
          <button
            class="palette-item"
            (click)="loadedProjectId ? onUpdate() : onSave()"
          >
          <i class="fa-solid fa-cloud-arrow-up"></i>&nbsp; Save
          </button>
          <button
            class="palette-item"
            (click)="onSave()"
          >
          <i class="fa-solid fa-square-pen"></i>&nbsp; Save as
          </button>
          <button
            class="palette-item"
            [attr.data-toggle]="showModal" data-target="#exampleModalCenter"
            (click)="loadProjects(userId)"
          >
          <i class="fa-solid fa-cloud-arrow-down"></i>&nbsp; Load
          </button>
        </div>
      </div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Your Projects</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngFor = 'let project of projects' class="projectContainer" >
          <a class="projectsList" data-dismiss="modal" (click)="openProject(project.project_id)">{{project.project_name}}</a>
          <div class="buttonsContainer">
            <button class="edit"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="delete" (click)="deleteProject(project.project_id)"><i class="fa-solid fa-trash-can"></i></button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>