<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="properties-tab"
        data-bs-toggle="tab"
        data-bs-target="#properties"
        type="button"
        role="tab"
        aria-controls="properties"
        aria-selected="true"
        
      >
        Properties
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="css-tab"
        data-bs-toggle="tab"
        data-bs-target="#css"
        type="button"
        role="tab"
        aria-controls="css"
        aria-selected="false"
      >
        CSS
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="code-tab"
        data-bs-toggle="tab"
        data-bs-target="#code"
        type="button"
        role="tab"
        aria-controls="code"
        aria-selected="false"
      >
        CODE
      </button>
    </li>
  </ul>
