<div cdkDrag cdkDragBoundary="#canvas" (cdkDragEnded)="onDragEnded($event)"  [class]="props.class" [id]="props.id" 

[ngStyle]="{
  'position': 'fixed',
  'left': dagaX + 'px',
  'top': dagaY + 'px',
  'width':'20px',
  'heigth':'1000px',
  'z-index':'1',
  'background-color':'blue'
}">

  <iframe cdkDrag cdkDragBoundary="#canvas" [src]="url"
  [style]="props.style"
title="YouTube video player" frameborder="0" 
allow="autoplay" 
allowfullscreen dnd-droppable-iframe
[ngStyle]="{
  'z-index':'-1',
  'position': 'relative'
  
}"
></iframe>


</div> 
<button md-button (click)="updateSrc()"  id="first" class="top-link"
[ngStyle]="{
    'position': 'fixed',
    'left': 500 + 'px',
    'top': 500 + 'px'
  }">Update</button>


    
