.custom-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.nav-header {
  font-size: 20px;
}
nav:hover{
  background-color: rgba(100, 100, 100, 0.2);
  opacity: 0.7;
}