.palette-div {
  height: 100vh;
  width: 220px;
}
.palette-item {
  height: fit-content;
  width: 100%;
  padding: 10px 10px;
  color: white;
  background-color: #16324f;
  outline: none;
  border: none;
  border: #16324f solid 1px;
}

.palette-item:hover {
  color: #16324f;
  background-color: white;
  border: #16324f solid 1px;
}