<div class="palette-div" style="overflow: auto;">
    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="elements-tab"
          data-bs-toggle="tab"
          data-bs-target="#elements"
          type="button"
          role="tab"
          aria-controls="elements"
          aria-selected="true"
        >
        <i class="fa-solid fa-cube"></i>
        <!--<div><strong>Elements</strong></div>-->
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="templates-tab"
          data-bs-toggle="tab"
          data-bs-target="#templates"
          type="button"
          role="tab"
          aria-controls="templates"
          aria-selected="false"
        >
        <i class="fa-solid fa-cubes"></i>
        <!--<div><strong>Templates</strong></div>-->
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="templates-tab"
          data-bs-toggle="tab"
          data-bs-target="#save"
          type="button"
          role="tab"
          aria-controls="save"
          aria-selected="false"
        >
        <i class="fa-solid fa-floppy-disk"></i>
        <!--<div><strong>Templates</strong></div>-->
        </button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <app-elements 
        [canvas]="canvas"
        [propertyCmp]="propertyCmp"
        [domInsideCanvas] = "domInsideCanvas"
        (updateComponentListEvent)="updatedList($event)"
        (updateCanvasLeftEvent)="updatedCanvasLeft($event)"
        (updateCanvasTopEvent)="updatedCanvasTop($event)"
        (updateCanvasWEvent)="updatedCanvasW($event)"
        (updateMousePosX)="updatedMousePositionX($event)"
        (updateMousePosY)="updatedMousePositionY($event)"
        (updateWhatComponentEvent)="updatedWhatComponent($event)"
        class="tab-pane fade show active"
        id="elements"
        role="tabpanel"
        aria-labelledby="elements-tab">
      </app-elements>
      <app-templates 
        [canvas]="canvas"
        [propertyCmp]="propertyCmp"
        (updateComponentListEvent)="updatedList($event)"
        (updateCanvasLeftEvent)="updatedCanvasLeft($event)"
        (updateCanvasTopEvent)="updatedCanvasTop($event)"
        (updateCanvasWEvent)="updatedCanvasW($event)"
        (updateMousePosX)="updatedMousePositionX($event)"
        (updateMousePosY)="updatedMousePositionY($event)"
        (updateWhatComponentEvent)="updatedWhatComponent($event)"
        class="tab-pane fade"
        id="templates"
        role="tabpanel"
        aria-labelledby="templates-tab">
      </app-templates>
      <app-save
        [componentListMap]="componentListMap"
        [style]="style"
        class="tab-pane fade"
        id="save"
        role="savepanel"
        aria-labelledby="saves-tab"
      >
      </app-save>
      <button 
        class="palette-item" 
        (click)="logout()"
        style="background-color: maroon;"
      >
        Logout
      </button>
    </div>
      <app-component-list
        [componentList]="componentList">
      </app-component-list>
  </div>
