<div *ngIf="slides && slides.length > 0">
  <img *ngFor="let slide of slides; let i=index" cdkDrag cdkDragBoundary=".canvas" [class]="props.class" [id]="props.id" 
[cdkDragDisabled]="!props.draggable" 
[style]="props.style" [src]= "slide.imageSrc" [alt]="slide.imageAlt"
(cdkDragEnded)="onDragEnded($event)" 
[ngStyle]="{
  'border-color' : props.selected == true ? 'red': (props.selected == false ? 'none': null),
  'border-style' : props.selected == true ? 'solid': (props.selected == false ? 'none': null),
  'border-width' : props.selected == true ? '1px': (props.selected == false ? '0px': null)
}" > 
</div>


    
