<div
  cdkDrag
  cdkDragBoundary="#canvas"
  (cdkDragEnded)="onDragEnded($event)"
  [id]="props.id"
  [style]="props.style"
  [ngStyle]="{
    'position': 'sticky',
    'left': (dagaX-theX) + 'px',
    'top': (dagaY-theY) + 'px',
    'width': '250px'
  }" 
>
  <br />
  <table [class]="props.class">
    <tr *ngFor="let row of this.props.tblArrayRow; let i = index" >
      <td
        *ngFor="let column of this.props.tblArrayCol"
        style="padding: 10px; border: 1px solid black"
        (click)="editTableValue(i,column,row[column],props.value)"
      >
      <!--  (click)="getCellPosition(i,column,row[column])"
      <span *ngIf="this.props.tblArrayRow[i][column]==''">{{ props.value }}</span>
      -->
        {{ row[column] }}
      </td>
    </tr>
  </table>
  <!--
  <button
    (click)="editTableDimension(props.tblRows, props.tblCols)"
    style="float: right; width: 20px; height: 20px"
  >
    *
  </button>
  -->
</div>
