/********************** IMG CSS ********************/

.imgResize {
  resize: both;
  min-width: auto;
  min-height: 50px;
  overflow:auto;
  }
  
img{
  min-height: 100%;
}

.img-rounded {
  max-width: 600px;
  height: 200px;
}
