<div class="canvasHeader">
  <div class="linksContainer">
    <label for="">Mockup-Creator</label>
    <ul class="mockLinks">
      <li><a href="#">Project</a></li>
      <li><a href="#">Guide</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
  <div class="profileCOntainer">
      <img src="https://cdn.dribbble.com/users/1223630/screenshots/8115260/char_still_2x.gif?compress=1&resize=400x300" alt=""
       class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" type="button"><i class="fas fa-user"></i> Profile</button>
        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#"><i class="fas fa-globe"></i> {{selectedLanguage.languagePicker.language}}</a>
          <ul class="dropdown-menu">
            <button class="dropdown-item" type="button" (click)="selectLanguage('en')">{{selectedLanguage.languagePicker.english}}</button>
            <button class="dropdown-item" type="button" (click)="selectLanguage('ja')">{{selectedLanguage.languagePicker.japanese}}</button>
          </ul>
        </li>
        <button class="dropdown-item" type="button" mat-button (click)="confirmLogOut()"><i class="fas fa-sign-out"></i> {{selectedLanguage.pallete.logOut}}</button>
      </div>
  </div>
</div>

<div id="canvas-container" class="pagination-container" style="position: relative;">
  <div class="pagination-container" style="position: relative;">
    <mat-tab-group class="tabs" dynamicHeight id="canvasTabGroup" [(selectedIndex)]="selectedTab" (selectedTabChange)="myTabSelectedTabChange($event)">
      <mat-tab *ngFor="let tab of tabs; let index = index">
        <ng-template mat-tab-label style="width: 100%;">
          <span class="tab-label" [attr.contenteditable]="tabs[index].allowEdit" (dblclick)="onDblClick($event)" (focusout)="onDblClick($event)">{{tab.name}} </span>
          <button [disabled]="this.isPlaying" [disabled]="tabs.length === 1" type="button" class="btn btn-close" (click)="confirmRemoveTab(index)"></button>
        </ng-template>
        <div
        class="canvas"
        [id]="tabs[index].id"
        #canvas
        (mouseenter)="updateDomInsideCanvas(true)"
        (mouseleave)="updateDomInsideCanvas(false)"
        >
          <div id="canvasBody">
            <div id="invisible" style="display: grid;
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;"
            (click)="deselect()"></div>
            <app-wrapper
              
              *ngFor="let component of componentListMap.get(tabs[index].id); let i = index"
              class="wrapper"
              (click)="clickHandler(component)"
              [childComp]="component"
              [canvasRef]="component.canvas"
              [componentList]="componentList"
              [mousePositionX]="mousePositionX"
              [mousePositionY]="mousePositionY"
              [canvasLeft]="canvasLeft"
              [canvasTop]="canvasTop"
              [canvasW]="canvasW"
              [ngClass]="{ 'nav-wrapper': component.props.typeObj == 'nav' }"
              [whatComponent]="whatComponent"
              [initialName]="initialName"
              [isPlaying]="isPlaying"
            >
            </app-wrapper>
            
          </div>
        </div>
        
      </mat-tab>
      <mat-tab disabled>
        <ng-template mat-tab-label style="width: 100%;">
            <button [disabled]="this.isPlaying" type="button" class="btn btn-outline-dark" (click)="addTab()"><i class="fa-solid fa-plus" ></i></button>
          </ng-template>
      </mat-tab>
    </mat-tab-group>
    <button class="playButton" (click)="isPlay(true)" *ngIf="!this.isPlaying">
      <i class="fa-solid fa-play"></i>
    </button>
    <button class="playButton" (click)="isPlay(false)" *ngIf="this.isPlaying"> 
      <i class="fa-solid fa-pause"></i>
      </button>
  </div>
  
</div> 


