<div id="canvas-container">
    <div
      id="canvas"
      class="solid-lines"
      #canvas
      (mouseenter)="updateDomInsideCanvas(true)"
      (mouseleave)="updateDomInsideCanvas(false)"
    >
      <div id="canvasBody">
        <app-wrapper
          *ngFor="let component of componentList; let i = index"
          class="wrapper"
          (click)="clickHandler(component)"
          [childComp]="component"
          [canvasRef]="component.canvas"
          [componentList]="componentList"
          [mousePositionX]="mousePositionX"
          [mousePositionY]="mousePositionY"
          [canvasLeft]="canvasLeft"
          [canvasTop]="canvasTop"
          [canvasW]="canvasW"
          [ngClass]="{ 'nav-wrapper': component.props.typeObj == 'nav' }"
          [whatComponent]="whatComponent"
        >
        </app-wrapper>
      </div>
    </div>
  </div>