<div cdkDropListGroup>
  <div class="example-container">
    <h2>Pogi</h2>
    <div cdkDropList [cdkDropListData]="pogi" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of pogi" [cdkDragData]="item" cdkDrag>
        {{item}}
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Panget</h2>
    <div cdkDropList [cdkDropListData]="panget" class="example-list" (cdkDropListDropped)="drop($event)"
      >
      <div class="example-box" *ngFor="let item of panget" [cdkDragData]="item" cdkDrag>
        {{item}}
      </div>
    </div>
  </div>
</div>
<!--
  <div cdkDropListGroup>
  <div class="example-container">
    <h2>Pogi</h2>
    <div cdkDropList [cdkDropListData]="pogi" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of pogi" [cdkDragData]="item" cdkDrag>
        {{item}}
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Panget</h2>
    <div cdkDropList [cdkDropListData]="panget" class="example-list" (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="evenPredicate">
      <div class="example-box" *ngFor="let item of panget" [cdkDragData]="item" cdkDrag>
        {{item}}
      </div>
    </div>
  </div>
</div>
-->