.content {
  /* display: flex;
  flex-direction: row; */
}

/********************** PALETTE CSS ********************/

#palette-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 600px;
  min-width: 15%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background-color: #D9D9DB;
}

.palette-item {
  padding: 10px;
}

/********************** CANVAS CSS ********************/

#canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  flex-grow: 3;
  background-color: gray;
}

#canvas {
  /* width: 848px;
  height: 480px;
  min-width: 848px;
  min-height: 480px; */
  background-color: white;
  overflow: none;
}

/********************** CODE CSS ********************/

#code-container {
  padding: 30px;
  /* height:100vh;
  padding: 20px; */
  background-color: #D9D9DB;
}
 /* tabs content css */
#tab-row {
  
}
#navHeader {
  border-radius: 50px;
}
.propertyHeader {
  margin-left: 20px;
}
.tabsDiv {
  margin-top: 20px;
}
.form-control:focus {
  border-color: #212529;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(108, 117, 125, 0.6);
}
textarea {
  resize: none;
}
.col {
 
}


 /* code content css */
#code-row {
  background-color: #FFFFFF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(108, 117, 125, 0.6);
}
.code-div {
  background-color: #FFFFFF;
}
.my-second-row {
  height: 40vh;
  overflow-y:auto;
  scrollbar-width: thin;
}
#code-row::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
#code-row::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}
#code-row::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #212529;
}
.codeDiv {
  margin-top: 10px;
}


/********************** COMPONENT CSS ********************/

.custom-nav {
  background-color: #3772ff;
  height: 10%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

a.custom-nav-link {
  color: #e6e8e6;
  margin: 0px 15px;
}

a.custom-nav-link:hover {
  color: #080708;
}

.custom-nav h1 {
  margin: 0;
}

.always-on-top {
  position: fixed;
  z-index: 999;
}

.inputFieldContainer {
  min-width: 130px;
}

.inputField {
  margin: 2px;
}