.palette-div {
  height: 100vh;
  max-width: 600px;
  min-width: 150px;
  width: 15%;
}

.palette-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
  min-width: 150px;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background-color: #16324f;
}

.palette-item {
  height: fit-content;
  width: 100%;
  padding: 10px 10px;
  color: white;
  background-color: #16324f;
  outline: none;
  border: none;
  border: #16324f solid 1px;
}

.palette-item:hover {
  color: #16324f;
  background-color: white;
  border: #16324f solid 1px;
}


.sub-menu{
  position:inherit;
  display: inline-block;
}
.sub-menu-dropdown{
  pointer-events: none;
  display:inline-block;
  position:absolute;
  max-width: 100px;
  opacity: 0;
  z-index: 999;
}
.sub-menu-dropdown button{
  display: table;
}
.sub-menu-dropdown button:hover{
  pointer-events:all;
  color: #16324f;
  background-color:white;
}
.sub-menu-button:focus + .sub-menu-dropdown{
  pointer-events:all;
  display: inline-block;
  opacity: 1;
}
