#palette-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 600px;
  min-width: 150px;
  width: 10%;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background-color:#16324f;
}

.palette-item {
  height: fit-content;
  width: 100%;
  padding: 10px 10px;
  color: white;
  background-color:#16324f;
  outline: none;
  border: none;
  border: #16324f solid 1px;
}

.palette-item:hover{
  color: #16324f;
  background-color:white;
  border: #16324f solid 1px;
}


.text-menu{
  position:inherit;
  display: inline-block;
}
.text-menu-dropdown{
  display:none;
  position:absolute;
  max-width: 100px;
  z-index: 999;
}
.text-menu-dropdown button{
  display: table;
}
.text-menu-dropdown button:hover{
  color: #16324f;
  background-color:white;
}
.text-menu-button:focus + .text-menu-dropdown{
  display: inline-block;
}