.palette-div {
  height: 100vh;
  max-width: 600px;
  min-width: 150px;
  width: 15%;
}

.palette-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 600px;
  min-width: 150px;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  background-color: #16324f;
}

.palette-item {
  height: fit-content;
  width: 100%;
  padding: 10px 10px;
  color: white;
  background-color: #16324f;
  outline: none;
  border: none;
  border: #16324f solid 1px;
}

.palette-item:hover {
  color: #16324f;
  background-color: white;
  border: #16324f solid 1px;
}
