.content {
  display: flex;
  flex-direction: row;
}

/********************** PALETTE CSS ********************/

#palette-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 600px;
  min-width: 15%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.palette-item {
  padding: 10px;
}

/********************** CANVAS CSS ********************/

#canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
  flex-grow: 3;
  background-color: gray;
}

#canvas {
  display: grid;
  width: 848px;
  height: 480px;
  min-width: 848px;
  min-height: 480px;
  background-color: white;
}

.wrapper {
  width: fit-content;
  height: fit-content;
  margin: 0;
}

.nav-wrapper {
  width: 100% !important;
  height: fit-content;
}

/********************** CODE CSS ********************/

#code-container {
  height: 100vh;
  width: 100%;
}

/********************** IMG CSS ********************/

.img-rounded {
  max-width: 600px;
  height: 200px;
}
/********************** COMPONENT CSS ********************/

.custom-nav {
  background-color: #3772ff;
  height: 10%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

a.custom-nav-link {
  color: #e6e8e6;
  margin: 0px 15px;
}

a.custom-nav-link:hover {
  color: #080708;
}

.custom-nav h1 {
  margin: 0;
}

.always-on-top {
  position: fixed;
  z-index: 999;
}

.inputFieldContainer {
  min-width: 130px;
}

.inputField {
  margin: 2px;
}

.headerFunc {
  font-size: 25px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.paragraphContainer {
  width: fit-content;
  height: fit-content;
  margin: 2px;
}

.paragraph {
  margin: 2px;
  width: 200px;
}

.Link {
  color: #417ff3;
  margin: 0px 15px;
}
