.content {
  display: flex;
  flex-direction: row;
}

/********************** PALETTE CSS ********************/

#palette-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 600px;
  min-width: 15%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.palette-item {
  padding: 10px;
}

/********************** CANVAS CSS ********************/

#canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
  flex-grow: 3;
  background-color: gray;
}

#canvas {
  width: 848px;
  height: 480px;
  min-width: 848px;
  min-height: 480px;
  background-color: white;
}

/********************** CODE CSS ********************/

#code-container {
  padding: 30px;
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: black;
}

/********************** COMPONENT CSS ********************/

.custom-nav {
  background-color: #3772ff;
  height: 10%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

a.custom-nav-link {
  color: #e6e8e6;
  margin: 0px 15px;
}

a.custom-nav-link:hover {
  color: #080708;
}

.custom-nav h1 {
  margin: 0;
}
