.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: gray;
}

.img-rounded {
  max-width: 600px;
  height: 200px;
}
.canvasHeader{
  background-color: #16324f;
  height: 50px;
  width: 80%;
  display: flex;
  color: #fff;
  justify-content: space-between;
  padding: 0px 15px;
  position: sticky;
  float: inline-start;
  /* position: relative;
  top: 40%;
  left: 50%; */
}
label{
  font-family: 'Mali', cursive;
  font-size: 2rem;
  font-weight: 600;
}
.mockLinks{
  height: 100%;
  margin: 0 !important;
  display: flex;
  align-items: center;
}
.mockLinks li {
text-decoration: none;
list-style: none;
display: inline-block;
margin: 0 10px;
}
.mockLinks li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Mali', cursive;
  font-size: 1.2rem;
  vertical-align: middle;
  height: 100%;
  padding: 20px;
}
.mockLinks li a:hover{
  color:#16324f;
  background-color: #fff;
}
.profileCOntainer{
  height: 100%;
  width: 50px;
  display: flex;
  align-items: center;
}
.dropdown-item{
  padding: 20px;
  width: 200px;
}
.profileCOntainer img {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  cursor: pointer;
}
.linksContainer{
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown-submenu{
  position: relative;
}
.dropdown-submenu a::after{
  transform: rotate(-90deg);
  position: absolute;
  right: 3px;
  top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
  display: flex;
  flex-direction: column;
  position: absolute !important;
  margin-top: -30px;
  left: 100%;
}
@media (max-width: 992px) {
  .dropdown-menu{
      width: 50%;
  }
  .dropdown-menu .dropdown-submenu{
      width: auto;
  }
}