.content {
  display: flex;
  flex-direction: row;
}

/********************** CANVAS CSS ********************/


#canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  min-width: 1300px;
  min-height: 800;
  padding: 20px;
  flex-grow: 3;
  background-color: gray;
}

#canvas {
  display: grid;
  width: 1280px;
  height: 720px;
  min-width: 1280px;
  min-height: 720px;
  background-color: white;
  
}


#canvasBody {
  display: grid;
  width: 100%;
  height: 480px;
  min-width: 848px;
  min-height: 480px;
}

.wrapper {
  grid-column: 1;
  grid-row: 1;
  width: fit-content;
  height: fit-content;
  margin: 0;
}

.nav-wrapper {
  width: 100% !important;
  height: fit-content;
}

/********************** CODE CSS ********************/

.tab-container {
  height: 100%;
  width: 100%;
  background-color: white;
}

.css-textarea-container {
  height: 100%;
  width: 100%;
  background-color: white;
}

#code-container {
  height: 100vh;
  width: 25%;
  max-width: 300px;
  min-width: 250px;
  overflow-y: auto;
}

#code {
  background-color: white;
  padding: 10px;
  height: 100%;
}

code {
  color: black;
}

#css-textarea {
  width: 100%;
  height: 100%;
  resize: none;
  overflow-y: auto;
}

#css-textarea:focus {
  outline: none;
}

/********************** IMG CSS ********************/

.img-rounded {
  max-width: 600px;
  height: 200px;
}
/********************** COMPONENT CSS ********************/

.custom-nav {
  background-color: #3772ff;
  height: 10%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

a.custom-nav-link {
  color: #e6e8e6;
  margin: 0px 15px;
}

a.custom-nav-link:hover {
  color: #080708;
}

.custom-nav h1 {
  margin: 0;
}

.always-on-top {
  position: fixed;
  z-index: 999;
}

.inputFieldContainer {
  min-width: 130px;
}

.inputField {
  margin: 2px;
}

.headerFunc {
  font-size: 25px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.paragraphContainer {
  width: fit-content;
  height: fit-content;
  margin: 2px;
}

.paragraph {
  margin: 2px;
  width: 200px;
}

.Link {
  color: #417ff3;
  margin: 0px 15px;
}

.delete {
  max-height: 50px;
  max-width: 60px;
  position: absolute;
  bottom: 26%;
  right: 34%;
}

.btnCopy{
  width: 20%;
  max-width: 270px;
  min-width: 220px;
  overflow-y: auto;
  background-color: green;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  font-weight: bolder;
  font-size: x-large;
  margin-bottom: 5px;
}