.content {
  display: flex;
  flex-direction: row;
}

/********************** PALETTE CSS ********************/

#palette-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 600px;
  min-width: 15%;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.palette-item:hover {
  cursor: pointer;
  background-color: #cccccc;
}

.sample {
  background-color: blue;
}

/********************** CANVAS CSS ********************/

#canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
  flex-grow: 3;
  background-color: gray;
}

#canvas {
  width: 848px;
  height: 480px;
  min-width: 848px;
  min-height: 480px;
  background-color: white;
}

/********************** CODE CSS ********************/

#code-container {
  padding: 30px;
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: black;
}

/********************** COMPONENT CSS ********************/

.custom-nav {
  background-color: blue;
  height: 10%;
}
