<div
      >
        <div
          class="palette-container"
          cdkDropListGroup
          cdkDropList
          cdkDropListSortingDisabled
        >
          <button
            class="palette-item"
            (click)="addComponent('nav')"
            cdkDrag
            (cdkDragEnded)="onDragEndedAddComponent($event, 'nav')"
            [disabled]="isPlaying"
          >
          {{selectedLanguage?.pallete.navBar2}}
          </button>
          <button
            [disabled]="isPlaying"
            class="palette-item"
            (click)="addComponent('link')"
            cdkDrag
            (cdkDragEnded)="onDragEndedAddComponent($event, 'link')"
           
          >
           {{selectedLanguage?.pallete.link}}
          </button>

          <!-- text-dropdown-menu start -->
          <div
            class="palette-item sub-menu"
            id="subMenuItem2"
            #subMenuItem2
            style="padding: 0px; padding-top: 0px"
          >
            <button class="sub-menu-button palette-item"
            (focus)="isDisabled = false"
            (focusout)="timerDisable()"
            [disabled]="isPlaying">{{selectedLanguage?.pallete.text}}</button>
            <div class="sub-menu-dropdown">
              <button
                class="palette-item"
                (click)="addComponent('header')"
                cdkDrag
                (cdkDragEnded)="onDragEndedAddComponent($event, 'header')"
                [disabled]="isDisabled"
                [disabled]="isPlaying"
              >
                {{selectedLanguage?.pallete.header}}
              </button>

              <button
                class="palette-item"
                (click)="addComponent('paragraph')"
                cdkDrag
                (cdkDragEnded)="onDragEndedAddComponent($event, 'paragraph')"
                [disabled]="isDisabled"
                [disabled]="isPlaying"
              >
                {{selectedLanguage?.pallete.paragraph}}
              </button>

              <button
                class="palette-item"
                (click)="addComponent('label')"
                cdkDrag
                (cdkDragEnded)="onDragEndedAddComponent($event, 'label')"
                [disabled]="isDisabled"
                [disabled]="isPlaying"
              >
                {{selectedLanguage?.pallete.label}}
              </button>
            </div>
          </div>
          <!-- text-dropdown end -->

          <!-- input-dropdown-menu start -->
          <div
            class="palette-item sub-menu"
            id="subMenuItem"
            #subMenuItem
            style="padding: 0px; padding-top: 0px"
          >
            <button class="sub-menu-button palette-item" (focus)="isDisabled = false"
            (focusout)="timerDisable()" [disabled]="isPlaying">{{selectedLanguage?.pallete.input}}</button>
            <div class="sub-menu-dropdown">
              <button
                class="palette-item"
                (click)="addComponent('button')"
                cdkDrag
                (cdkDragEnded)="onDragEndedAddComponent($event, 'button')"
                [disabled]="isDisabled"
                [disabled]="isPlaying"
              >
                {{selectedLanguage?.pallete.button}}
              </button>

              <button
                class="palette-item"
                (click)="addComponent('dropdown')"
                cdkDrag
                (cdkDragEnded)="onDragEndedAddComponent($event, 'dropdown')"
                [disabled]="isDisabled"
                [disabled]="isPlaying"
              >
                {{selectedLanguage?.pallete.dropdown}}
              </button>
              <button
                class="palette-item"
                (click)="addComponent('checkbox')"
                cdkDrag
                (cdkDragEnded)="onDragEndedAddComponent($event, 'checkbox')"
                [disabled]="isDisabled"
                [disabled]="isPlaying"
              >
                {{selectedLanguage?.pallete.checkbox}}
              </button>

              <button
                class="palette-item"
                (click)="addComponent('radio')"
                cdkDrag
                (cdkDragEnded)="onDragEndedAddComponent($event, 'radio')"
                [disabled]="isDisabled"
                [disabled]="isPlaying"
              >
                {{selectedLanguage?.pallete.radio}}
              </button>
              <button
                class="palette-item"
                (click)="addComponent('input')"
                cdkDrag
                (cdkDragEnded)="onDragEndedAddComponent($event, 'input')"
                [disabled]="isDisabled"
                [disabled]="isPlaying"
              >
                {{selectedLanguage?.pallete.inputField}}
              </button>
              <button
                class="palette-item"
                (click)="addComponent('textbox')"
                cdkDrag
                (cdkDragEnded)="onDragEndedAddComponent($event, 'textbox')"
                [disabled]="isDisabled"
                [disabled]="isPlaying"
              >
                {{selectedLanguage?.pallete.textbox}}
              </button>
              <button
                class="palette-item"
                (click)="addComponent('datepicker')"
                cdkDrag
                (cdkDragEnded)="onDragEndedAddComponent($event, 'datepicker')"
                [disabled]="isDisabled"
                [disabled]="isPlaying"
              >
               {{selectedLanguage?.pallete.datepicker}}
              </button>
            </div>
          </div>

          <!-- input-dropdown-menu end -->

          <!-- <button
            class="palette-item"
            (click)="addComponent('modal')"
            cdkDrag
            (cdkDragEnded)="onDragEndedAddComponent($event, 'modal')"
          >
            Modal
          </button> -->
          <button
            class="palette-item"
            (click)="addComponent('popup')"
            cdkDrag
            (cdkDragEnded)="onDragEndedAddComponent($event, 'popup')"
            [hidden]="true"
            [disabled]="isPlaying"
          >
            Popup
          </button>
          <button
            class="palette-item"
            (click)="addComponent('img')"
            cdkDrag
            (cdkDragEnded)="onDragEndedAddComponent($event, 'img')"
            [disabled]="isPlaying"
          >
            {{selectedLanguage?.pallete.image}}
          </button>
          <button
            class="palette-item"
            (click)="addComponent('div')"
            cdkDrag
            (cdkDragEnded)="onDragEndedAddComponent($event, 'div')"
            [disabled]="isPlaying"
          >
            {{selectedLanguage?.pallete.emptyDiv}}
          </button>
          <button
            class="palette-item"
            (click)="addComponent('table')"
            cdkDrag
            (cdkDragEnded)="onDragEndedAddComponent($event, 'table')"
            [disabled]="isPlaying"
          >
            {{selectedLanguage?.pallete.table}}
          </button>
          <button 
          class="palette-item" 
          (click)="addComponent('youtube')"
          cdkDrag
          (cdkDragEnded)="onDragEndedAddComponent($event,'youtube')"
          [disabled]="isPlaying"
          >
          {{selectedLanguage?.pallete.iFrame}}
        </button>
        <button 
          class="palette-item" 
          (click)="addComponent('video')"
          cdkDrag
          (cdkDragEnded)="onDragEndedAddComponent($event,'video')"
          [disabled]="isPlaying"
          >
          {{selectedLanguage?.pallete.video}}
        </button>
        </div>
      </div>