<div cdkDropListGroup>
<div class="canvas-container">
  <div id="canvas" #canvas>
    <div class="example-list" 
    cdkDropList
    [cdkDropListData]="container" 
    cdkDropList id="list-1" 
    cdkDropListConnectedTo="list-2" 
    (cdkDropListDropped)="drop($event)">
      
      <div class="example-box" *ngFor="let item of container; let i = index" cdkDrag>

        <div *ngIf="item == 'Button1'">
          <button>{{item}}</button>
        </div>

        <div *ngIf="item == 'Text Input'">
          <input class="form-control" type="text" placeholder="Default input">
        </div>

        <div *ngIf="item == 'Label'">
          <h2>SHABU</h2>
        </div>
        
      </div>

    </div>
  </div>
</div>
</div>
