.text{
    resize: both;
    min-width: 70px;
    min-height: 20px;
    max-width: 1200px;
    max-height: 750;
    overflow:auto;
}
.text:hover {
    background:rgba(173, 173, 173, 0.2);
}
p:hover{
    background-color: rgba(100, 100, 100, 0.2);
    opacity: 0.7;
}