<div>
  <table border="1" [cellSpacing]="1" style="background-color: white;">
    <tr>
      <th colspan="2">Component Property</th> 
      <button 
      (click)="removeElement()"
      type="button" 
      class="btn btn-danger" 
      title="Delete Element">
        <span aria-hidden="true">&times;</span>
      </button>
    </tr>
    <tr>
      <th><label>id</label></th>
      <td>
        <input
          type="text"
          [id]="props.id"
          [value]="props.id"
          (keyup)="idChangeHandler($event)"
        />
      </td>
    </tr>
    <tr>
      <th><label>value</label></th>
      <td>
        <input
          type="text"
          [value]="props.value"
          (keyup)="valueChangeHandler($event)"
        />
      </td>
    </tr>
    <tr>
      <th><label>type</label></th>
      <td>
        <input
          type="text"
          [value]="props.type"
          (keyup)="typeChangeHandler($event)"
        />
      </td>
    </tr>
    <tr>
      <th><label>class</label></th>
      <td>
        <input
          type="text"
          [value]="props.class"
          (keyup)="classChangeHandler($event)"
        />
      </td>
    </tr>
    <tr *ngIf="props.typeObj == 'textbox'">
      <th><label>placeholder</label></th>
      <td>
        <input
          type="text"
          [value]="props.placeholder"
          (keyup)="placeholderChangeHandler($event)"
        />
      </td>
    </tr>
    <tr *ngIf="props.typeObj == 'textbox'">
      <th><label>rows</label></th>
      <td>
        <input
          type="number"
          [value]="props.rows"
          (keyup)="rowsChangeHandler($event)"
        />
      </td>
    </tr>
    <tr *ngIf="props.typeObj == 'textbox'">
      <th><label>columns</label></th>
      <td>
        <input
          type="number"
          [value]="props.cols"
          (keyup)="colsChangeHandler($event)"
        />
      </td>
    </tr>
    <tr>
      <th><label>style</label></th>
      <td>
        <textarea
          name="style"
          id="taID"
          [value]="props.style"
          cols="21"
          rows="5"
          (keyup)="styleChangeHandler($event)"
        ></textarea>
      </td>
    </tr>
    <tr *ngIf="props.name">
      <th><label>name</label></th>
      <input
        type="text"
        [value]="this.props.name"
        (keyup)="nameChangeHandler($event)"
      />
    </tr>
  </table>
</div>
<!--
<button (click)="removeElement($event)" type="button" class="btn btn-danger delete" title="Delete Element">
  <span aria-hidden="true">&times;</span>
</button>
-->

<style>
  th {
    background-color: thistle;
  }
  tr {
    background-color: white;
    border: solid;
  }
  input,
  textarea {  
    border: none;
  }
  
.delete{
  max-height:50px; 
  max-width:60px; 
  position: absolute;
  bottom: 26%;
  right: 34%;
  z-index: 9999;
}
</style>
