#properties {
  height: 100%;
}

.invisible {
  visibility: hidden;
}

tr.properties-table-row {
  border: solid 1px black;
}

th.properties-table-header {
  color: white;
  background-color: #16324f;
  padding: 5px;
}
th.properties-table-header label {
  font-weight: lighter;
}

td.properties-table-data {
}

td.properties-table-data input,
td.properties-table-data textarea #updateLink .updateLink{
  width: 100%;
  margin: 0;
  align-self: center;
}

.updateLink{
  width: 100%;
  margin: 0;
  align-self: center;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.updateLink:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.updateLink:active {
  color: #000
}

.updateLink:active:after {
  background: transparent;
}

.updateLink:hover:before {
  opacity: 1;
}

.updateLink:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

td.properties-table-data input:focus,
td.properties-table-data textarea:focus {
  border: none;
  outline: none;
}

#taID {
  resize: none;
}

#properties-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  background-color: white;
  color: #16324f;
  font-size: 15px;
  font-weight: bold;
}

#properties-header #delete {
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  background-color: #c51b29;
  border: none;
  font-weight: lighter;
}

#properties-table {
  width: 100%;
}

#clearScreen{
  position: relative;
  width: 100%;
  overflow-y: auto;
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  font-weight: bolder;
  font-size: x-large;
}
