
.matDialogContainer {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}

.contentContainer {
    margin: 5px 5px 15px 5px;
    color: #8f9cb5;
    display: flex;
    text-align: left;
}

.confirmButton {
    height: 40px;
    width: 30%;
    background-color: #b6bcbe;
    color: black;
    border-radius: opx;
}

.cancelButton {
    height: 40px;
    width: 30%;
    background-color: tomato;
    color: white;
    border-radius: opx;
}

