<div class="palette-container">
  <div class="example-list" [cdkDropListData]="container" cdkDropList id="list-2" cdkDropListConnectedTo="list-1" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of container" cdkDrag>{{item}}</div>
    <ul class="list-group">
    
    <li class="list-group-item palette-item" (click)="createButton()" cdkDrag >
      Button
    </li>
    <li class="list-group-item palette-item" (click)="createInput()" cdkDrag>
      Text Input
    </li>
    <li class="list-group-item palette-item" (click)="createLabel()" cdkDrag>Label</li>
  
  </ul>
</div>
</div>
