<div class="btn-group" [style]="props.style" [id]="props.id" cdkDrag cdkDragBoundary="#canvas" (cdkDragEnded)="onDragEnded($event)" [ngStyle]="{
  'position': 'absolute',
  'left': theX + 'px',
  'top': theY + 'px'
}">
  <button [class]="props.class" [type]="props.type">{{ props.value }}</button>
  <button (click)="editNumLinks(this.props.links)" type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" *ngFor="let link of props.linksArray; let i = index;" (click)="editLinkValue(i, link, props.linkValue)">{{link}}</a></li>
  </ul>
</div>  
