<div cdkDrag cdkDragBoundary="#canvas" (cdkDragEnded)="onDragEnded($event)" 
[cdkDragDisabled]="!props.draggable"
[ngStyle]="{
  'position': 'sticky',
  'left': (dagaX-theX) + 'px',
  'top': (dagaY-theY) + 'px',
  'border-color' : props.selected == true ? 'red': (props.selected == false ? 'none': null),
  'border-style' : props.selected == true ? 'solid': (props.selected == false ? 'none': null),
  'border-width' : props.selected == true ? '1px': (props.selected == false ? '0px': null)
}" >
    <a href="#" [id]="props.id" [style]="props.style" [class]="props.class"
    >
        {{props.value}}
    </a>
</div>