
  <a  cdkDrag cdkDragBoundary=".canvas" (cdkDragEnded)="onDragEnded($event)" [cdkDragDisabled]="!props.draggable" [id]="props.id" [style]="props.style" [class]="props.class" target="_blank"
  [ngStyle]="{
    'border-color' : props.selected == true ? 'red': (props.selected == false ? 'none': null),
    'border-style' : props.selected == true ? 'solid': (props.selected == false ? 'none': null),
    'border-width' : props.selected == true ? '1px': (props.selected == false ? '0px': null)
  }" [attr.href]="isPlaying && props.href !== '#' ? props.href : null"
    
      >
          <span *ngIf="props.isIcon == false">{{props.value}}</span>
          <span *ngIf="props.isIcon == true">
            {{props.iconLabel1}}
            <i class={{props.iconValue}}></i>
            {{props.iconLabel2}}
          </span>
  </a>
 