<div cdkDrag cdkDragBoundary="#canvas" (cdkDragEnded)="onDragEnded($event)" [cdkDragDisabled]="!props.draggable"
[ngStyle]="{
    'position': 'sticky',
    'left': (dagaX-theX) + 'px',
    'top': (dagaY-theY) + 'px'
  }" >
    <div *ngIf="props.checked=='true'; else unchecked">
        <input [id]="props.id" [class]="props.class" [type]="props.type" (change)="isChecked($event)" checked>
        <label [for]="props.id" [style]="props.style" [ngStyle]="{
            'padding-left': '5px'
          }" >
            {{ props.value }}
        </label>
    </div>
    <ng-template #unchecked>
        <div *ngIf="props.checked=='false'; else anyData">
            <input [id]="props.id" [class]="props.class" [type]="props.type" (change)="isChecked($event)">
            <label [for]="props.id" [style]="props.style" [ngStyle]="{
                'padding-left': '5px'
              }" >
                {{ props.value }}
            </label>
        </div>
    </ng-template>
    <ng-template #anyData>
        <div>
            <input [id]="props.id" [class]="props.class" [type]="props.type" (change)="isChecked($event)">
            <label [for]="props.id" [style]="props.style" [ngStyle]="{
                'padding-left': '5px'
              }" >
                {{ props.value }}
            </label>
        </div>
    </ng-template>
</div>